{% extends 'base.html' %}

{% block app_content %}
    <h1>Dashboard</h1>
    <p>Image Downloader status: WORK IN PROGRESS</p>
    <hr>


    
    <script>
        var targetContainer = document.getElementById("image-downloader-update");
        console.log(targetContainer)
        var source = new EventSource('/events');
        console.log(source)
        source.onmessage = function(e) {
            console.log(e.data);
            targetContainer.innerHTML = e.data;
        };
        
        
    </script>
{% endblock %}